<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You have been successfully logged in!</h1>
    
    {% for m in match %}
        <ul>
            <li>
                Username : {{ user.username }}
            </li>
            <li>
                First Name : {{ m.first_name }}
            </li>
            <li>
                Last Name : {{ m.last_name }}
            </li>
            <li>
                Email : {{ user.email }}
            </li>
            <li>
                Phone Number : {{ m.phone_number }}
            </li>
        </ul>
    {% endfor %}
    
    <a href="{% url 'login' %}">Logout</a>
</body>
</html>