
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>IndexPage</title>

</head>
<body>
    <h1>HomePage</h1>
    <p>
        
            
        <form action="{% url 'blog-about' %}" method="POST">
        {% csrf_token %}
            Enter a number
            <input type="number" name="num" >
            <br>
            <br>
            <button type="Submit">Submit</button> 
        </form>
    </p>
    
   
</body>
</html>